body{
    font-family: 'Play', sans-serif;
    margin: 0;
   
}
.half-width h1{
    font-size: 50px;
}
.flexsection{
    display: flex;
    margin-top: 5%;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.half-width{
    padding: 10px;
    margin-left: 2%;
}

.name{
    color: rgb(219, 135, 9);
}
.encor{
    text-decoration: none;
    color: wheat;
    padding: 10px 40px;
    border-radius: 3px;
    background-image: linear-gradient(45deg,red, yellow);
}
.top-bener{
    
}
p{
    text-align: justify;
}
.bottom-bener{
    margin-top: 5%;
}
.experience{
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom:5% ;
}
.experience-card{
    display: flex;
}

.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 8px;
    border-left:5px solid rgba(255, 217, 0, 0.849);
}